.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.profile__image::before {
  content: '';
  position: absolute;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__image::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 40%;
  display: none;
  width: 26px;
  height: 26px;
  background-image:  url('../../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}

.profile__image:hover.profile__image::before,
.profile__image:hover.profile__image::after {
  display: block;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
